<pdf-viewer *ngIf="book" [src]="'http://192.168.1.2:8000/pdf/'+book.url" 
[render-text]="true"
style="display: block;"
></pdf-viewer>

<!-- <ngx-extended-pdf-viewer
        *ngIf="book"
        printResolution="50"
        language="es-MX"
        (currentZoomFactor)="updateCurrentZoomFactor($event)"
        [ignoreKeyboard]="ignoreKeyboard"
        [contextMenuAllowed]="contextMenuAllowed"
        [ignoreResponsiveCSS]="true"
        [src]="'http://192.168.1.2:8000/pdf/'+book.url"
        (srcChange)="onSourceChange($event)"
        backgroundColor="#ffffff"
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [(rotation)]="rotation"
        [showZoomButtons]="true"
        [showSidebarButton]="showSidebarButton"
        [(sidebarVisible)]="sidebarVisible"
        [useBrowserLocale]="true"
        [showSidebarOnLoad]="true"
        [showPresentationModeButton]="true"
        [showOpenFileButton]="true"
        [height]="height"
        [(handTool)]="handTool"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [filenameForDownload]="filenameForDownload"
        (pagesLoaded)="onPagesLoaded($event)"
        (pdfLoaded)="onPdfLoaded($event)"
        (pdfLoadingFailed)="onPdfLoadFailed($event)"
        [(spread)]="spread"
        (pageRendered)="onPageRendered($event)"
        (pdfDownloaded)="onDownload($event)"
        [(zoom)]="zoom"
        (zoomChange)="onZoomChange($event)"
        [showHandToolButton]="true"
      >
      </ngx-extended-pdf-viewer> -->