<div class="row mb-2">
    <div class="col-12 col-md-6 mb-3">
        <div class="card" style="background: #E42B6E;">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h1 class="text-white mt-0 mt-md-3">স্বাগতম</h1>
                        <h1 class="text-white">বই সমূহ দেখুন</h1>
                        <button class="btn btn-light" style="padding: .375rem 2rem;">লগইন</button>
                    </div>
                    <div class="col-6">
                        <img src="../../../../assets/img/books.png" class="img-fluid" alt="books">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card" style="background: #4A46E4;">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h1 class="text-white mt-0 mt-md-3">বিশ্ববিদ্যালয়</h1>
                        <h1 class="text-white">বই সমূহ দেখুন</h1>
                        <a href="#" class="btn text-white"><i class="material-icons" style="font-size: 29px;">
                                arrow_right_alt
                            </i></a>
                    </div>
                    <div class="col-6">
                        <img src="../../../../assets/img/uniBook.png" class="img-fluid" alt="books">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="dark-grey">আমার বই সমূহ</p>
<div class="books row overflow">
    <a class="col-12 col-md-4 col-lg-2 mb-3" [routerLink]="['/book', book.id]" routerLinkActive="router-link-active"
        *ngFor="let book of books">
        <div class="card border-0">
            <img src="http://192.168.1.2:8000/thumbnails/{{book.thumbnail}}" class="img-fluid rounded mb-1 card-img">

            <div class="card-body p-1">
                <h6 class="book-title text-dark font-weight-bold mb-0">{{book.title}}</h6>
                <small class="text-muted">{{book.author}}</small>
            </div>
        </div>
    </a>
</div>